<app-header style="cursor: pointer;"></app-header>

<main class="main">
  <header class="header">
    <h1>{{ title }}</h1>
    <p>Welcome to your Angular + NgRx practice workspace.</p>
  </header>
  <section class="content">
    <!-- <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
    <button (click)="reset()">Reset</button>
    <p>{{count$ | async}}</p> -->
    <div *ngIf="!isLoggedIn; else userBlock">
      <button (click)="logIn()">Login</button>
    </div>

    <ng-template #userBlock>
      <div>
        <p>Welcome, {{ username }}</p>
        <button (click)="logOut()">Logout</button>
      </div>
    </ng-template>
    <router-outlet></router-outlet>
  </section>
</main>
